# DAT 19: Homework 1 Assignment

## Instructions

In this assignment, we will explore the passenger list of the Titanic, as provided in a well-known [Kaggle](https://www.kaggle.com) competition. For this assignment, we are concerned only with initial exploration. Please answer the specific questions listed below.

The dataset is a list of passengers. The second column of the dataset is the label for each person indicating whether that person survived (1) or did not survive (0). The data is described in more detail below.

There is no need to download the data from Kaggle. We have provided the titanic.csv dataset for you in the same  directory as this assignment.

Please do all your analysis to answer the questions below in this Jupyter notebook. Show your work. Questions 10, 13, and 14 ask for your thoughts as a few sentences (regular prose, not code :-).

**Please submit your completed notebook by 11:59PM on Thursday, December 17.**

## About the Data

```
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

SPECIAL NOTES:
Pclass is a proxy for socio-economic status (SES)
 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1)
 If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch)
some relations were ignored.  The following are the definitions used
for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins,
nephews/nieces, aunts/uncles, and in-laws.  Some children travelled
only with a nanny, therefore parch=0 for them.  As well, some
travelled with very close friends or neighbors in a village, however,
the definitions do not support such relations.
```

### Load Data

Start by loading the Titanic data into a numpy array. The code to do this is included below to get you started.

In [260]:
# We'll use the csv module from the Python standard library to read each row of our input data file
#   into a list that we then convert into a numpy array.

import csv as csv
import numpy as np

file_object = csv.reader(open('titanic.csv', 'rb'))
header = file_object.next() #First, let's strip off the header

data = []
for row in file_object:
    data.append(row)

data = np.array(data) #Turn our Python list into a numpy array

# Let's see what our data looks like. Notice what type the data appears to be inside the numpy array.
print type(data)
print data.shape

print data[:10,:]
print '\n' + '...'
print data[-1,:]

<type 'numpy.ndarray'>
(891, 12)
[['1' '0' '3' 'Braund, Mr. Owen Harris' 'male' '22' '1' '0' 'A/5 21171'
  '7.25' '' 'S']
 ['2' '1' '1' 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
  'female' '38' '1' '0' 'PC 17599' '71.2833' 'C85' 'C']
 ['3' '1' '3' 'Heikkinen, Miss. Laina' 'female' '26' '0' '0'
  'STON/O2. 3101282' '7.925' '' 'S']
 ['4' '1' '1' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)' 'female' '35'
  '1' '0' '113803' '53.1' 'C123' 'S']
 ['5' '0' '3' 'Allen, Mr. William Henry' 'male' '35' '0' '0' '373450'
  '8.05' '' 'S']
 ['6' '0' '3' 'Moran, Mr. James' 'male' '' '0' '0' '330877' '8.4583' '' 'Q']
 ['7' '0' '1' 'McCarthy, Mr. Timothy J' 'male' '54' '0' '0' '17463'
  '51.8625' 'E46' 'S']
 ['8' '0' '3' 'Palsson, Master. Gosta Leonard' 'male' '2' '3' '1' '349909'
  '21.075' '' 'S']
 ['9' '1' '3' 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)' 'female'
  '27' '0' '2' '347742' '11.1333' '' 'S']
 ['10' '1' '2' 'Nasser, Mrs. Nicholas (Adele Achem)' 'female' '14' '1' '0'
  '237736' '30.0708' '' 'C']]

...
['891' '0' '3' 'Dooley, Mr. Patrick' 'male' '32' '0' '0' '370376' '7.75' ''
 'Q']

## Homework Questions

**1) How many passengers are in our passenger list? For this assignment, weâ€™ll assume our dataset represents the full passenger list for the Titanic.**

In [261]:
# Your code here for num_passengers. Uncomment the line below to format your answer.
num_passengers = 0
for i in data:
    num_passengers = num_passengers + 1   
print 'There are ' + str(num_passengers) + ' passengers in our list.'

There are 891 passengers in our list.

**2) What is the overall survival rate (as a percentage of total passengers in our list)?**

In [262]:
#HINT: You may want to import another module here
import numpy as np

#Your code here to calculate num_survived and survival_rate. 
#Again, we've provided some code you can use to format your answer.
num_survived = np.sum(data[0::,1].astype(np.float))
survival_rate = num_survived / num_passengers
  
print 'Of ' + str(num_passengers) + ' passengers, ' + str(num_survived) + ' survived.'
print 'The survival rate is ' + str(survival_rate) + ' or '+ str("{0:.0f}%".format(survival_rate * 100))

Of 891 passengers, 342.0 survived.
The survival rate is 0.383838383838 or 38%

**3) How many male passengers were onboard?**

In [263]:
# Your code here to calculate num_males
num_males_list= data[0::,4]=="male" #find all entries where sex is equal to male

num_males = np.size(data[num_males_list,0]) #calculate size of True values and assign column to True values

print 'There were ' + str(num_males) + ' male passengers onboard.'

There were 577 male passengers onboard.

**4) How many female passengers were onboard?**

In [264]:
# Your code here to calculate num_females
num_females_list= data[0::,4]=="female" #for all rows and for column Sex

num_females = np.size(data[num_females_list,0])

print 'There were ' + str(num_females) + ' female passengers onboard.'

There were 314 female passengers onboard.

**5) What is the overall survival rate of male passengers?**

In [265]:
# Your code here to calculate male_survival_rate

male_survive = np.sum(data[num_males_list,1].astype(np.float)) #109

male_survival_rate = male_survive / num_males

print 'The survival rate of male passengers was ' + str("{0:.2f}%".format(male_survival_rate * 100))

The survival rate of male passengers was 18.89%

**6) What is the overall survival rate of female passengers?**

In [266]:
# Your code here to calculate female_survival_rate

female_survive = np.sum(data[num_females_list,1].astype(np.float)) #233

female_survival_rate = female_survive / num_females

print 'The survival rate of female passengers was ' + str("{0:.2f}%".format(female_survival_rate * 100))

The survival rate of female passengers was 74.20%

**7) What is the average age of all passengers onboard?**

In [267]:
# Your code here to calculate avg_age
# HINT: This may be trickier than it first seems. Look at the age values in the raw data file.
missing_ages_list = data[0::,5]==''
missing_ages_list_count = np.size(data[missing_ages_list,0]) #177
sum_passenger_ages = np.sum(data[~ missing_ages_list,5].astype(np.float)) #21,205.17
with_ages_list_count = num_passengers - missing_ages_list_count #714
avg_age = sum_passenger_ages / with_ages_list_count #29.70

print 'The average age of all passengers onboard was ' + str("{0:.2f}".format(avg_age))

The average age of all passengers onboard was 29.70

**8) What is the average age of passengers who survived?**

In [268]:
# Your code here to calculate avg_age_survived
data[missing_ages_list,5]=avg_age

passenger_survived_list = data[0::,1]=='1'
sum_passenger_survived = np.sum(data[passenger_survived_list, 5].astype(np.float))
avg_age_survived = sum_passenger_survived / num_survived

print 'The average of age of passengers who survived was ' + str("{0:.2f}".format(avg_age_survived))

The average of age of passengers who survived was 28.55

**9) What is the average age of passengers who did not survive?**

In [269]:
# Your code here to calculate avg_age_not_survive
num_died = num_passengers - num_survived
passenger_died_list = data[0::,1]=='0'
sum_passenger_died = np.sum(data[passenger_died_list, 5].astype(np.float))
avg_age_not_survive = sum_passenger_died / num_died

print 'The average of age of passengers who did not survive was ' + str("{0:.2f}".format(avg_age_not_survive))

The average of age of passengers who did not survive was 30.42

**10) At this (early) point in our analysis, what might you infer about any patterns you are seeing in who survived / did not survive?**

Females have a higher survival rate than males and those under the age of 30 have a higher survival rate.

**11) How many passengers are in each of the three classes of service (e.g. First, Second, Third?)**

In [290]:
# Your code here

class_1_list = data[0::,2]=='1'
class_1_count = np.size(data[class_1_list,0])
print 'class 1:' +str(class_1_count)

class_2_list = data[0::,2]=='2'
class_2_count = np.size(data[class_2_list,0])
print 'class 2:' +str(class_2_count)

class_3_list = data[0::,2]=='3'
class_3_count = np.size(data[class_3_list,0])
print 'class 3:' +str(class_3_count)

# You do not need to format the output nicely like we did for the questions above.

class 1:216
class 2:184
class 3:491

**12) What is the survival rate for passengers in each of the three classes of service?**

In [287]:
# Your code here
# HINT: Averaging of the 1's and 0's in the "Survived" column will give a survival rate.
# We want the survival rate for each passenger class.
# You do not need to format the output nicely.

class_1_survived = np.sum(data[class_1_list,1].astype(float))
class_1_survival_rate = class_1_survived / class_1_count
print 'Class 1 Survival Rate: ' + str("{0:.2f}".format(class_1_survival_rate*100))

class_2_survived = np.sum(data[class_2_list,1].astype(float))
class_2_survival_rate = class_2_survived / class_2_count
print 'Class 2 Survival Rate: ' + str("{0:.2f}".format(class_2_survival_rate*100))

class_3_survived = np.sum(data[class_3_list,1].astype(float))
class_3_survival_rate = class_1_survived / class_3_count
print 'Class 3 Survival Rate: ' + str("{0:.2f}".format(class_3_survival_rate*100))

Class 1 Survival Rate: 62.96
Class 2 Survival Rate: 47.28
Class 3 Survival Rate: 27.70

**13) How does what we learned in 11) and 12) influence our early conclusions from 10) ?**

Passengers who were in a higher passenger class had a higher rate of survival than those in a lower passenger class.

**14) If we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?**

From our results above, it would make sense to include pclass, sex, and age as they all appear to have some effect on the survival rate.  I would also include sibs, parch, fare, and cabin as I think they may impact the survival rate. I would include sibs and parch because having more family on the ship may increase or decrease your survival rate depending on who you were in the family.  Also, fare and cabin may have an impact to survial rate similar to pclass. I would probably leave name and embarked out because I feel they have no real impact on survival rate.