# Class 4 Lab: K-nearest neighbors and scikit-learn

## Agenda

- **K-nearest neighbors (KNN)**
    - Review of the iris dataset
    - Visualizing the iris dataset
    - KNN classification
    - Review of supervised learning
- **scikit-learn**
    - Requirements for working with data in scikit-learn
    - scikit-learn's 4-step modeling pattern
    - Tuning a KNN model
    - Comparing KNN with other models

## The iris dataset

In [70]:
import csv as csv
TitanicList = []

with open('../homework/titanic.csv', 'rb') as csv_file_object:
    reader = csv.reader(csv_file_object)
    header = csv_file_object.next()
    for line in reader:
        if line[5] == 'Nan' or line[5] == '':
            line[5] = 28
            TitanicList.append(line)
        else:
            TitanicList.append(line)
    
print TitanicList

IOError: [Errno 2] No such file or directory: '../homework/titanic.csv'

In [49]:
# read the iris data into a DataFrame
import pandas as pd

col_names = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
#titanic = pd.read_csv()

titanic = pd.DataFrame(TitanicList, columns=col_names)

In [115]:
titanic.head(0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S
5,6,0,3,"Moran, Mr. James",male,28,0,0,330877,8.4583,,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,28,0,0,244373,13,,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18,,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,28,0,0,2649,7.225,,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,28,0,0,2631,7.225,,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28,0,0,330959,7.8792,,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,28,0,0,349216,7.8958,,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5,,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28,8,2,CA. 2343,69.55,,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13,,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13,,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28,0,0,345777,9.5,,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9,,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24,,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.225,,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,,S
878,879,0,3,"Laleff, Mr. Kristo",male,28,0,0,349217,7.8958,,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26,,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5,,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.05,,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.125,,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28,1,2,W./C. 6607,23.45,,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,,Q

### Terminology

- **150 observations** (n=150): each observation is one iris flower
- **4 features** (p=4): sepal length, sepal width, petal length, and petal width
- **Response**: iris species
- **Classification problem** since response is categorical

![iris](images/iris_petal_sepal.png)

### Let's plot the iris dataset

...and see what we can learn.

In [50]:
# allow plots to appear in the notebook
%matplotlib inline

# create a custom colormap
from matplotlib.colors import ListedColormap
cmap_bold = ListedColormap(['#FF0000', '#00FF00'])

# map each iris species to a number
titanic['Sex_num'] = titanic.Sex.map({'male':1, 'female':2})

## K-nearest neighbors (KNN) classification

1. Pick a value for K.
2. Search for the K observations in the data that are "nearest" to the measurements of the unknown iris.
    - Euclidian distance is often used as the distance metric, but other metrics are allowed.
3. Use the most popular response value from the K "nearest neighbors" as the predicted response value for the unknown iris.

In [4]:
titanic.head(0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_num
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S,1
5,6,0,3,"Moran, Mr. James",male,28,0,0,330877,8.4583,,Q,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S,2
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S,2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,,S,2
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q,1
17,18,1,2,"Williams, Mr. Charles Eugene",male,28,0,0,244373,13,,S,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18,,S,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,28,0,0,2649,7.225,,C,2
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q,2
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S,2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,,S,2
26,27,0,3,"Emir, Mr. Farred Chehab",male,28,0,0,2631,7.225,,C,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28,0,0,330959,7.8792,,Q,2
29,30,0,3,"Todoroff, Mr. Lalio",male,28,0,0,349216,7.8958,,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5,,S,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28,8,2,CA. 2343,69.55,,S,2
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13,,S,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13,,S,2
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,,C,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28,0,0,345777,9.5,,S,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,,S,1
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,,S,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5,B51 B53 B55,S,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9,,S,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24,,C,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.225,,C,2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,,S,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,,S,1
878,879,0,3,"Laleff, Mr. Kristo",male,28,0,0,349217,7.8958,,S,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26,,S,2
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,,S,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,,S,2
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5,,S,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.05,,S,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.125,,Q,2
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28,1,2,W./C. 6607,23.45,,S,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,,Q,1

### KNN classification map for iris (K=1)

![1NN classification map](images/iris_01nn_map.png)

### KNN classification map for iris (K=5)

![5NN classification map](images/iris_05nn_map.png)

### KNN classification map for iris (K=15)

![15NN classification map](images/iris_15nn_map.png)

### KNN classification map for iris (K=50)

![50NN classification map](images/iris_50nn_map.png)

**Question:** What's the "best" value for K in this case?

**Answer:** The value which produces the most accurate predictions on unseen data. We want to create a model that generalizes!

## Review of supervised learning

![Supervised learning diagram](images/supervised_learning.png)

## Requirements for working with data in scikit-learn

1. Features and response are **separate objects**
2. Features and response should be entirely **numeric**
3. Features and response should be **NumPy arrays** (or easily convertible to NumPy arrays)
4. Features and response should have **specific shapes** (outlined below)

In [51]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_num
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S,1

In [ ]:
# store feature matrix in "X"
#feature_cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
#X = iris[feature_cols]

In [59]:
# alternative ways to create "X"
X = titanic.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Sex'], axis=1)
#X = iris.loc[:, 'sepal_length':'petal_width']
#X = iris.iloc[:, 0:4]

In [6]:
# store response vector in "y"
y = titanic.Survived

In [54]:
# check X's type
print type(X)
print type(X.values)

<class 'pandas.core.frame.DataFrame'>
<type 'numpy.ndarray'>

In [60]:
print X.values[1]

['1' '38' '1' '0' '71.2833' 2]

In [8]:
# check y's type
print type(y)
print type(y.values)

<class 'pandas.core.series.Series'>
<type 'numpy.ndarray'>

In [29]:
print y.values

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

In [9]:
# check X's shape (n = number of observations, p = number of features)
print X.shape

(891, 7)

In [10]:
# check y's shape (single dimension with length n)
print y.shape

(891,)

## scikit-learn's 4-step modeling pattern

**Step 1:** Import the class you plan to use

In [61]:
from sklearn.neighbors import KNeighborsClassifier

**Step 2:** "Instantiate" the "estimator"

- "Estimator" is scikit-learn's term for "model"
- "Instantiate" means "make an instance of"

In [62]:
knn = KNeighborsClassifier(n_neighbors=1)

- Name of the object does not matter
- Can specify tuning parameters (aka "hyperparameters") during this step
- All parameters not specified are set to their defaults
- **QUESTION: How do we know what those defaults are? How do we even know what all the parameters are?**

**Step 3:** Fit the model with data 

- Model is "learning" the relationship between X and y in our "training data"
- Process through which learning occurs varies by model
- Subtlety: In general, this is training the model, although "instance-based" models such as KNN don't really have a training step.

In [63]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=1, p=2, weights='uniform')

- Once a model has been fit with data, it's called a "fitted model"

**Step 4:** Predict the response for a new observation

- New observations are called "out-of-sample" data
- Model uses the information it learned during the fitting / training process

In [64]:
knn.predict([3,22,1,0,7.25,1]) #[ u'Pclass', u'Age', u'SibSp', u'Parch', u'Fare',u'Sex_num']

array(['0'], dtype=object)

- Returns a NumPy array, and we keep track of what the numbers "mean"
- Can predict for multiple observations at once

In [65]:
X_new = [[3,22,1,0,7.25,1], [1,38,1,0,71.2833,2]]
knn.predict(X_new)

array(['0', '1'], dtype=object)

## Tuning a KNN model

In [66]:
# instantiate the model (using the value K=1)
knn = KNeighborsClassifier(n_neighbors=800)

# fit the model with data
knn.fit(X, y)

# predict the response for new observations
knn.predict(X_new)

array(['0', '0'], dtype=object)

In [67]:
# calculate predicted probabilities of class membership
knn.predict_proba(X_new)

array([[ 0.65875,  0.34125],
       [ 0.625  ,  0.375  ]])

In [69]:
# print distances to nearest neighbors (and their identities)
knn.kneighbors([1,38,1,0,71.2833,2])

(array([[  0.        ,   3.01334679,   6.62674572,   7.87934455,
           7.89018054,   8.48537971,   8.77387365,  10.19476821,
          11.34346239,  11.43056546,  11.95891404,  12.01997749,
          12.274275  ,  12.3554776 ,  12.55537928,  12.64928175,
          12.64928175,  12.64928175,  12.68874812,  12.68874812,
          12.68874812,  12.68874812,  12.79351941,  12.92972269,
          14.09388339,  14.17510067,  14.17510067,  14.22163665,
          14.2798375 ,  14.61354252,  14.66284682,  14.78301919,
          14.81680317,  15.41576851,  15.50741303,  15.64505914,
          15.93777459,  16.04830081,  16.14528279,  16.14528279,
          16.14540612,  16.37075652,  16.43445152,  16.46329818,
          16.67133165,  17.05302393,  17.17703169,  17.2205679 ,
          17.23118565,  17.23118565,  17.45760223,  18.01860584,
          18.01860584,  18.01860584,  18.01860584,  18.11187971,
          18.11216215,  18.2382126 ,  18.29086179,  18.38520125,
          18.42911823,  18.74339507,  18.80901876,  18.85821834,
          18.95560231,  19.16105057,  19.17756989,  19.2007853 ,
          19.37304465,  19.51526733,  19.53576   ,  19.70570625,
          19.71916983,  19.93019867,  20.19687498,  20.43488382,
          20.51721937,  20.53888164,  20.80334557,  20.96626998,
          21.2751592 ,  21.32711089,  21.6105443 ,  21.72200863,
          21.74501458,  21.76799621,  21.794533  ,  21.84416335,
          21.97999446,  22.3547469 ,  22.87238201,  23.42379429,
          23.55798928,  23.63433432,  23.70395867,  24.86367585,
          25.20252909,  25.39709942,  25.55349015,  25.68161441,
          25.74876845,  25.87577294,  25.91002117,  26.20747983,
          26.27892233,  26.31791023,  26.76841345,  27.12032741,
          27.43861616,  28.61059728,  30.59812117,  31.25443423,
          32.03248755,  32.20705789,  32.37609394,  32.51666583,
          33.20459786,  33.22395971,  33.25404485,  33.81321571,
          34.02564854,  34.57665858,  35.02936906,  35.69076386,
          36.05466792,  36.48896489,  36.7225451 ,  37.14753126,
          37.18123934,  37.18123934,  37.66268523,  38.21708151,
          38.36005613,  38.40862675,  38.69489085,  38.76267301,
          39.01466851,  39.10513341,  39.45312166,  39.56424139,
          39.59306832,  39.61831721,  39.62524448,  39.86595763,
          40.08047603,  40.25760621,  40.35770384,  40.38148176,
          40.39386177,  40.74582934,  40.85535461,  41.08216473,
          41.12371579,  41.24654602,  41.53004044,  41.60192491,
          41.63136845,  41.82517371,  42.01520628,  42.26437695,
          42.27659942,  42.50071598,  42.52437253,  42.57115066,
          42.61474063,  42.79218198,  43.01523984,  43.08150553,
          43.13029804,  43.14252611,  43.30485953,  43.45872477,
          43.63131222,  43.64800349,  43.6704788 ,  43.8765109 ,
          43.9851271 ,  44.17137896,  44.20721162,  44.24107834,
          44.25582175,  44.28485304,  44.42234974,  44.43303476,
          44.48607264,  44.50495934,  44.59038987,  44.59310842,
          44.71790923,  44.71790923,  44.85608241,  44.89053352,
          44.93404198,  44.96257174,  45.06242357,  45.11786805,
          45.19537606,  45.23137693,  45.26672515,  45.2997586 ,
          45.2997586 ,  45.31641269,  45.32744487,  45.33847438,
          45.34311534,  45.38531986,  45.4156059 ,  45.45669212,
          45.47061973,  45.48161451,  45.59603172,  45.59603172,
          45.60699627,  45.62430557,  45.69001268,  45.70095468,
          45.70095468,  45.77716471,  45.85922076,  45.85922076,
          45.85922076,  45.85922076,  45.96013008,  46.01714092,
          46.16460591,  46.17983606,  46.17983606,  46.38509738,
          46.39587545,  46.45421818,  46.46907982,  46.47591483,
          46.57577556,  46.59512998,  46.60545171,  46.63236278,
          46.67969994,  46.86765685,  46.87832398,  46.91707002,
          46.99107187,  46.99107187,  46.99107187,  47.00171099,
          47.03427058,  47.13361071,  47.14421766,  47.20749907,
          47.239263  ,  47.40862009,  47.70188839,  47.85966954,
          47.97614469,  48.04765612,  48.0551202 ,  48.05806133,
          48.22393564,  48.23430282,  48.23969454,  48.24466778,
          48.33953309,  48.44237885,  48.47965613,  48.79873829,
          48.80875513,  48.80898338,  48.89785271,  48.94920417,
          48.95941778,  49.01089806,  49.11413146,  49.11799323,
          49.12431077,  49.12817174,  49.14480093,  49.22954366,
          49.32231713,  49.50429131,  49.58491776,  49.83344077,
          49.87051362,  49.92605591,  49.98655444,  50.0265492 ,
          50.37437105,  50.39256154,  50.46196844,  50.46196844,
          50.50798647,  50.66129427,  50.78452647,  50.78452647,
          50.96348751,  50.96479431,  51.06275569,  51.10195944,
          51.1702815 ,  51.21399603,  51.24672295,  51.28747429,
          51.39712121,  51.48213534,  51.76012673,  51.88759253,
          51.89903813,  51.93914572,  52.19513089,  52.23578523,
          52.2691891 ,  52.29031515,  52.298286  ,  52.32966115,
          52.32966115,  52.47210934,  52.67508015,  53.24166468,
          53.77834191,  53.90555646,  53.95748344,  53.97836667,
          54.00556106,  54.1663928 ,  54.2984554 ,  54.34442804,
          54.46785849,  54.67310316,  54.72657589,  54.90197276,
          54.90489932,  55.08596354,  55.23686015,  55.57154487,
          55.57267547,  55.58729539,  55.62731082,  55.73016014,
          55.74331223,  55.8018884 ,  55.80498722,  55.81398327,
          55.87286066,  56.04860925,  56.11770308,  56.11770308,
          56.12661222,  56.14959091,  56.36032611,  56.37242898,
          56.4299268 ,  56.48106514,  56.50837636,  56.70781744,
          56.70781744,  56.70781744,  56.71663388,  56.71663388,
          56.72544895,  56.83486084,  56.92620801,  56.95708963,
          56.97540346,  56.97544564,  56.97544564,  57.00176669,
          57.02464256,  57.07635078,  57.11885152,  57.13548266,
          57.14178881,  57.20883454,  57.25886184,  57.30602608,
          57.31096411,  57.52689075,  57.52834222,  57.6984407 ,
          57.70912544,  57.70912544,  57.73283836,  57.73687389,
          57.75015693,  57.79443398,  57.79887385,  57.855365  ,
          57.8668926 ,  57.87553247,  57.92708008,  58.12526651,
          58.22293156,  58.22934317,  58.30045505,  58.31079036,
          58.31760505,  58.31760505,  58.33475001,  58.33475001,
          58.33475001,  58.3433206 ,  58.43688331,  58.43751414,
          58.43751414,  58.44606966,  58.44606966,  58.44606966,
          58.44606966,  58.44606966,  58.46819228,  58.47760789,
          58.53497381,  58.54404341,  58.55931232,  58.56512092,
          58.60838727,  58.66779149,  58.72770265,  58.84677611,
          58.85527214,  58.85527214,  58.85527214,  58.90934441,
          59.07010292,  59.08306879,  59.15186437,  59.15186437,
          59.16031659,  59.16031659,  59.16031659,  59.2450797 ,
          59.33753499,  59.33753499,  59.39205459,  59.43302172,
          59.48033086,  59.49061984,  59.49675511,  59.50106267,
          59.53102602,  59.74063156,  59.74063156,  59.74063156,
          59.79242301,  59.87834457,  59.92781624,  59.92812461,
          59.95784401,  59.95784401,  59.96618263,  59.96618263,
          60.20413457,  60.20750002,  60.20750002,  60.20750002,
          60.29549408,  60.62244325,  60.84085436,  60.8819313 ,
          60.93118708,  61.10326963,  61.20955447,  61.22109522,
          61.2770217 ,  61.32652818,  61.33196197,  61.33960064,
          61.46226126,  61.47039579,  61.50536366,  61.52373292,
          61.52882745,  61.62474794,  61.64367817,  61.65712145,
          61.66800677,  61.66881675,  61.74440653,  61.78680732,
          61.86172798,  61.87298238,  61.94460307,  61.9726517 ,
          61.9726517 ,  61.98071925,  62.03366956,  62.16946967,
          62.34722254,  62.39879453,  62.48340707,  62.49992   ,
          62.56444612,  62.63073973,  62.6352629 ,  62.6352629 ,
          62.6352629 ,  62.66868909,  62.7962148 ,  62.84370843,
          62.86783432,  62.87610171,  62.87749737,  62.90874072,
          62.97784895,  63.02983421,  63.06172545,  63.0638007 ,
          63.0638007 ,  63.13168427,  63.1363715 ,  63.14861526,
          63.16332218,  63.16933269,  63.2536724 ,  63.25623415,
          63.29574361,  63.35179736,  63.35179736,  63.39697279,
          63.40702034,  63.40702034,  63.41218347,  63.41351732,
          63.41351732,  63.41351732,  63.43481029,  63.46152057,
          63.46633089,  63.46633089,  63.47795073,  63.50570964,
          63.52641395,  63.53413522,  63.56453594,  63.56453594,
          63.56453594,  63.62676004,  63.6296331 ,  63.63155786,
          63.63155786,  63.663024  ,  63.66671209,  63.68888583,
          63.68888583,  63.68888583,  63.68888583,  63.69936859,
          63.70721748,  63.70721748,  63.71793434,  63.72362379,
          63.75189541,  63.75931874,  63.78440428,  63.78440428,
          63.79086282,  63.7975128 ,  63.8059313 ,  63.80724561,
          63.85335329,  63.86297996,  63.86583716,  63.89235165,
          63.90566116,  63.91752677,  63.93727517,  63.93984805,
          63.95686209,  63.96467939,  63.97180674,  64.00429652,
          64.01351583,  64.0135427 ,  64.02278461,  64.03251615,
          64.03251615,  64.04480975,  64.05817847,  64.05817847,
          64.0659834 ,  64.0659834 ,  64.0659834 ,  64.0659834 ,
          64.0659834 ,  64.0659834 ,  64.0659834 ,  64.0659834 ,
          64.0659834 ,  64.0659834 ,  64.0659834 ,  64.0659834 ,
          64.06689009,  64.07008004,  64.07123098,  64.09065852,
          64.1363064 ,  64.18936188,  64.18959549,  64.21039757,
          64.21433025,  64.218184  ,  64.218184  ,  64.218184  ,
          64.218184  ,  64.218184  ,  64.218184  ,  64.218184  ,
          64.218184  ,  64.218184  ,  64.218184  ,  64.218184  ,
          64.218184  ,  64.218184  ,  64.218184  ,  64.218184  ,
          64.218184  ,  64.218184  ,  64.22678489,  64.22678489,
          64.22678489,  64.25924624,  64.25924624,  64.27509206,
          64.27509206,  64.27614493,  64.27998778,  64.28392339,
          64.31689246,  64.31731196,  64.32425327,  64.33742433,
          64.33742433,  64.34496234,  64.34544769,  64.34995594,
          64.35222963,  64.35433326,  64.35433326,  64.35433326,
          64.35433326,  64.35433326,  64.35433326,  64.35433326,
          64.35433326,  64.35433326,  64.36210227,  64.36210227,
          64.36210227,  64.36210227,  64.36210227,  64.36210227,
          64.36210227,  64.36210227,  64.36210227,  64.36210227,
          64.36667381,  64.37082025,  64.37444134,  64.37667675,
          64.37858728,  64.38148147,  64.38263451,  64.38540369,
          64.38678047,  64.38883832,  64.39857265,  64.40846395,
          64.40846395,  64.42765322,  64.47359496,  64.47993995,
          64.52343899,  64.54235663,  64.55178951,  64.55953476,
          64.55985716,  64.55985716,  64.56800646,  64.57757745,
          64.5929619 ,  64.5929619 ,  64.59820219,  64.60224631,
          64.60236682,  64.65346248,  64.66245123,  64.66536599,
          64.67846758,  64.6915275 ,  64.70471566,  64.70906821,
          64.70915066,  64.73451513,  64.75318646,  64.7940063 ,
          64.8010627 ,  64.81088048,  64.855713  ,  64.855713  ,
          64.855713  ,  64.86373539,  64.86373539,  64.86373539,
          64.86854189,  64.87268916,  64.87624933,  64.87624933,
          64.87624933,  64.87624933,  64.87624933,  64.87624933,
          64.88039611,  64.88039611,  64.88039611,  64.88039611,
          64.88039611,  64.89591828,  64.90343909,  64.90404402,
          64.93353981,  64.95706394,  64.96133586,  64.98636609,
          64.99382177,  65.05318462,  65.05891681,  65.07193549,
          65.12859317,  65.14809421,  65.15192621,  65.1546046 ,
          65.18416339,  65.19482029,  65.20248916,  65.22461749,
          65.24247562,  65.27212444,  65.27212444,  65.28826425,
          65.35170355,  65.37285032,  65.38549922,  65.40998241,
          65.42151906,  65.42151906,  65.46750133,  65.51285011,
          65.51841463,  65.52442467,  65.52442467,  65.53094055,
          65.5551692 ,  65.5551692 ,  65.56149723,  65.57726196,
          65.58137563,  65.58137563,  65.62908013,  65.64506211,
          65.64506211,  65.65592303,  65.69737324,  65.71339838,
          65.72045136,  65.76571583,  65.76977008,  65.78492537,
          65.78690469,  65.78984852,  65.79095856,  65.80638426,
          65.8301033 ,  65.89584839,  65.90293521,  65.90352175,
          65.91110816,  65.9679136 ,  65.97916889,  65.97916889,
          66.03986303,  66.03986303,  66.04743378,  66.04743378,
          66.06759967,  66.07155386,  66.07155386,  66.07167168,
          66.09360478,  66.09360478,  66.09360478,  66.12787672,
          66.16862896,  66.21914494,  66.21914494,  66.21914494,
          66.22748596,  66.24387313,  66.29678355,  66.32437335,
          66.33478853,  66.36603219,  66.42675296,  66.45447215]]),
 array([[  1, 540, 665, 218, 741, 558,  61, 336, 789, 645, 835, 754,  52,
         681, 230, 792, 180, 863, 324, 159, 201, 846, 256,  92,  62, 641,
         369, 290, 655, 765, 523, 375,  34, 577, 615, 591, 690, 759,  74,
         838, 139, 262, 155, 309, 151,  97, 124, 257,  72, 120, 496, 826,
         692, 169, 643, 599, 102, 137, 627, 310,   3, 224, 248, 809, 486,
         166, 621, 509, 412, 383, 434, 245,  35, 513, 385, 849, 370, 671,
         871, 453, 724, 110, 879, 669, 712, 475, 585, 457, 867, 366, 356,
         587, 185, 520, 484, 571,   6, 781, 829, 678, 329, 275, 710,  83,
         820, 748, 504, 539, 291,  54, 602, 583, 745, 638, 670, 685,  71,
         556, 766, 608, 462, 683, 817, 445, 537, 339,  59, 544,  55,  23,
         351, 480, 515, 736, 266, 853, 416, 684, 145, 493, 596, 848, 581,
         686, 647,  25, 209, 610,  13, 436, 306, 842, 698, 632, 270, 122,
         273, 793, 298, 607, 782, 740, 885, 215, 505, 839, 889, 307,  86,
         449, 580, 331,  30, 450, 360, 472, 194, 167, 492, 177, 170, 452,
         174,  50, 217, 361, 393, 386,  64, 295, 604, 550, 447, 572, 512,
         701, 707, 323, 625, 187, 536, 594, 705, 518, 314, 148,  20, 887,
         432,  99, 440, 801, 637, 506, 854, 236, 543, 549, 430, 460, 711,
         507,  43, 397, 487, 133,  53, 426, 284, 862, 168, 600, 659, 662,
         857, 551, 796, 312, 259, 618, 485, 229, 409, 176, 147, 728, 880,
         811, 595, 316,   9, 799, 308, 249, 824, 582, 109, 768, 467, 517,
         874, 542,  98, 763, 164, 390, 136, 888, 783,  11, 330, 546, 301,
         427, 183, 565,  96, 182, 541, 508, 694, 720, 128, 533, 791, 211,
         405, 476, 827,  48, 555, 252, 774, 726, 548, 117, 279, 567, 254,
         328, 813,  41, 819, 787, 272, 233,  93, 545, 456, 651, 634, 490,
         451, 278, 850, 261,  18, 207, 559, 119, 858, 237, 171, 435, 437,
          58, 535, 424, 419, 353,  63, 160,  16, 161, 746,  85, 802, 206,
         253, 605, 188, 735, 431, 347, 639, 657,  78, 403, 394, 642, 617,
         612, 186, 241,  46, 364, 718, 255, 153,  38, 743,  65, 709, 140,
         586, 616, 497,  49, 181, 142, 193, 860, 362, 132, 446, 333, 760,
         538, 578, 240, 495, 624, 423,  15, 530, 340, 620,  73, 706, 135,
         357, 547, 795, 808, 387, 327, 346, 344, 622, 576, 865, 800, 149,
         722, 288,  21, 292, 866, 247, 165, 123,  24, 190, 562, 673, 747,
         213, 418, 178, 630, 750, 731, 443, 635,  17, 342, 463, 239, 221,
         886,  79, 473, 695, 322, 399, 317, 723, 666, 134, 343, 303, 823,
         575, 184, 345, 199, 864, 714, 150, 658, 734, 733, 702, 114, 265,
         812, 516,  70, 439,   8, 374, 191, 219, 830,  66, 242, 232, 251,
         111, 883, 228, 448, 417, 529, 503, 717,   7,  40, 626, 526, 458,
         619, 752, 861, 286, 234,  81, 713, 489, 398, 200, 355, 868, 471,
         349, 788, 285, 103, 882, 389, 873, 797, 197, 757, 144,  56, 852,
         407, 334, 534, 769, 319, 337, 614,   4, 770, 461, 758, 584, 104,
         528, 400, 108, 158, 561, 189, 668, 847, 660, 474, 696, 603, 429,
         821, 525, 881, 130,   5, 338, 636, 414, 382, 579, 772, 226, 238,
         519, 814, 719, 569, 488, 157, 744, 402, 699,  69, 396, 890, 663,
         350, 845,  90, 606, 805, 276, 749, 680, 444, 767, 225, 293, 644,
         469, 687, 415, 564,  95, 304, 454, 589, 837, 464,  87, 563, 121,
         511,  77,  45, 876, 455, 113, 422, 661, 392, 231, 100, 510, 739,
         738,  42, 420, 410, 105,  29, 101, 313, 223, 335, 656, 650, 384,
         878, 601,  76, 359, 358,  28, 771, 281, 590, 761, 653, 465, 552,
         756,  82,  84, 107, 667, 216,  10, 363,  80,  47, 274, 573, 264,
          32, 214, 368, 300, 198, 196, 126, 828, 560, 790, 428, 776, 260,
         613, 459, 727, 697, 778, 831, 629, 321, 388, 593, 468, 325, 441,
         482, 401, 269, 502, 146,   2, 203, 235, 648, 628, 870, 810, 365,
         704, 315, 798, 222, 244, 677, 682, 841, 162,  39, 676, 592, 729,
         129, 794, 154,  57,  89, 470, 425, 250, 267, 246, 442, 367,  19,
         832, 859, 524,  36, 531, 568, 522, 773,  26, 354, 598, 406, 477,
         703, 836, 202, 294, 843,  75, 611, 499, 818, 855, 816, 825, 652,
         753, 404, 725, 833, 411, 588, 112, 804, 514, 570, 785, 693, 287,
         521, 125, 649, 395, 494,  37, 554, 289, 141, 348, 631, 784, 884,
         282, 115, 173, 152, 127, 623, 296,  51, 391, 478, 210, 408,  12,
         501, 421, 138, 106, 664, 840,  67,  91, 640, 376,   0, 212, 320,
          60, 372, 283, 553, 844, 163, 500, 834, 243, 877, 566, 646,  44,
         192, 491, 373, 379, 204, 227, 715]]))

## Comparing KNN with other models

Advantages of KNN:

- Simple to understand and explain
- Model fitting is fast
- Can be used for classification and regression!

Disadvantages of KNN:

- Must store all of the training data
- Prediction phase can be slow when n is large
- Sensitive to irrelevant features
- Sensitive to the scale of the data. Feature scaling is important!
- Accuracy is (generally) not competitive with the best supervised learning methods